/*
 * FOOTER
 */
.livingcss__footer {
  padding: $spacing-base;
  margin-top: $spacing-large;
  
  text-align: right;
  color: $color-blank;
  
  background: $color-medium;

  a { font-weight: bold; }
}
