/*
 * FOOTER
 */
.livingcss__footer {
  padding: $spacing-base $spacing-large;
  margin-top: $spacing-large;
  
  text-align: left;
  color: $color-blank;
  
  background: $color-dark;

  a {
    font-weight: bold;
    color: $color-blank;
  }
}
