/*
 * FOOTER
 */
.livingcss__footer {
  padding: $base-spacing;
  margin-top: $large-spacing;
  
  text-align: right;
  color: $white-color;
  
  background: $base-color;

  a { font-weight: bold; }
}
