/*
 * GRID
 */

.livingcss__wrapper {
  min-height: 100%;
  position: relative;
  transition: right 0.2s;
  right: 0;

  .livingcss__navbar--open & {

    @include smaller-than($mobile-width) {
      right: 13rem;
    }

  }
}

.livingcss__main {
  box-sizing: border-box;
  padding: $spacing-small $spacing-base;
  margin-top: $spacing-small;
}

@include larger-than($medium-width) {
  .livingcss__main {
    width: 62.5%;
    float: right;
  }

  .livingcss__sidenav {
    width: 32.5%;
    float: left;
  }
}

@include larger-than($large-width) {
  .livingcss__main { width: 72.5%; }

  .livingcss__sidenav { width: 22.5%; }
}

