/*
 * HEADER
 */
.livingcss__header {
  position: relative;
}

.livingcss__header-title-container {
  @include clearfix();
  padding: $base-spacing;

  background: $base-color;
}

.livingcss__header-title {
  padding-right: 4em;

  font-size: 1.625rem;
  line-height: 1.625rem;

  a { color: $white-color !important; }

  @include larger-than($mobile-width) {
    width: 33%;
    float: left;

    padding-right: 0em;
  }
}

.livingcss__header-logo {
  width: 100%;
  padding-right: 6em;
  box-sizing: border-box;

  img { max-width: 100%; }

  @include larger-than($mobile-width) {
    width: 33%;
    float: right;

    padding-right: 0;

    text-align: right;
  }
}



.livingcss__main-nav-container {
  padding: $small-spacing $base-spacing;

  @include larger-than($mobile-width) {
    border-bottom: 1px solid $dark-color;
  }
}


.livingcss__nav-link {
  display: block;
  padding: 0.40625rem 0.8125rem;
}

a.livingcss__nav-link:hover,
a.livingcss__nav-link:active,
a.livingcss__nav-link:focus,
a.livingcss__nav-link--active {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light-color !important;
  color: $white-color !important;
  text-decoration: none;
}

.livingcss__menu {
  position: absolute;
  right: 1.625rem;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
  background: #1976D2;
  padding: 0.40625rem 0.8125rem;
}