.livingcss__main-nav {
  
  @include smaller-than($mobile-width) { display: none; }
}



.livingcss__main-nav--open .livingcss__main-nav {

  @include smaller-than($mobile-width) {
    right: 0;
    box-shadow: -2px 0px 6px rgba(0,0,0,0.2);
  }
  
}


.livingcss__off-canvas-menu {
  position: absolute;
  top: 0;
  right: -13rem;
  width: 13rem;

  @include smaller-than($mobile-width) {
    .livingcss__main-nav--open & { right: 0; }
  }

  ul {
    margin-left: 0;
    padding-left: 0;

    list-style-type: none;
  }

  li {
    &:nth-of-type(even) a {
      background-color: $color-gray;
    }
  }

  li[data-nav-id="index.html"] { display: none; }

  a {
    padding: $spacing-base 0;

    text-align: center;
    text-decoration: none;
  }
}

// The title atop the off-canvas navigation
.livingcss__off-canvas-menu-title {
  text-align: center;
}

.livingcss__nav-menu1,
.livingcss__nav-menu2 {
  list-style-type: none;

  li { border-left: 3px solid $color-medium; }
}

.livingcss__nav-menu1 { padding-left: 0; }

.livingcss__nav-menu2 { padding-left: $spacing-base; }

.livingcss__nav-link {}


.livingcss__nav-link--main {

  @include larger-than($medium-width) {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1rem
  }

  &[href="index.html"] { display: none; }
}

.livingcss__nav--fixed .livingcss__nav-container {
  @include larger-than($medium-width) {
    position: fixed;
    top: 0;
    width: 13rem;
  }
}

.livingcss__menu {

  @include larger-than($medium-width) {
    display: none;
  }
}

// When a parent category has a child element in view, this makes sure the parent category is expanded
.livingcss__child-links {

  display: none;

  .livingcss__parent-link--expanded & { display: block; }
}
