
/*
 * NAV
 */
.livingcss__nav {
  order: 1;
}

.livingcss__nav-container {
  margin-top: 1.625rem;
}

/*
 * MOBILE BREAKPOINT
 */
@media (max-width: 992px) {
  .livingcss__main-nav {
    position: fixed;
    top: 0;
    right: -14rem;
    bottom: 0;
    width: 13rem;
    background: #fdfdfd;
    border-left: 1px solid #B6B6B6;
    transition: right 0.2s;
    padding: 0;
  }

  .livingcss__main-nav--open .livingcss__wrapper {
    right: 13rem;
  }

  .livingcss__main-nav--open .livingcss__main-nav {
    right: 0;
    box-shadow: -2px 0px 6px rgba(0,0,0,0.2);
  }

  .livingcss__main-nav-container {
    padding: 0;
  }

  .livingcss__nav-link {
    border-bottom: 1px solid #B6B6B6;
  }

  .livingcss__nav {
    display: none;
  }
}


/*
 * DESKTOP BREAKPOINT
 */
@media (min-width: 993px) {
  .livingcss__nav {
    flex: 0 0 13rem;
    padding-right: 0.8125rem;
  }

  .livingcss__main-nav-container {
    border-bottom: 1px solid #B6B6B6;
  }

  .livingcss__nav-link--main {
    display: inline-block;
  }

  .livingcss__nav--fixed .livingcss__nav-container {
    position: fixed;
    top: 0;
    width: 13rem;
  }

  .livingcss__menu {
    display: none;
  }

  .livingcss__nav-link--main {
    font-size: 0.875rem;
    line-height: 1rem
  }
}