.livingcss__navbar {

  text-align: center;

  border-bottom: 1px solid $color-dark;
  
  @include smaller-than($mobile-width) { display: none; }
}


.livingcss__navbar-link {

  display: inline-block;
  margin: $spacing-small;
  padding: $spacing-small;

  color: $color-action;
  text-decoration: none;

  &[href="index.html"] { display: none; }
}

.livingcss__navbar-link:hover,
.livingcss__navbar-link:active,
.livingcss__navbar-link:focus,
.livingcss__navbar-link--active {

  color: $color-blank;

  background-color: $color-action;
}
