$medium-width: 720px;
$large-width: 993px;
$desktop-width: 1200px;

$mobile-width: $medium-width; // Use with a max-width

$base-color: #00f;
$light-color: #99f;
$dark-color: #009;
$white-color: #fff;
$gray-color: #ddd;
$black-color: #000;

$base-spacing: 1rem;
$large-spacing: 2rem;
$small-spacing: 0.5rem;
