$mobile-width: 992px; // Use with a max-width

$medium-width: 720px;
$large-width: 993px;
$desktop-width: 1200px;

$base-color: #00F;
$light-color: #99F;
$dark-color: #009;
$white-color: #FFF;
$black-color: #000;

$base-spacing: 1rem;
$large-spacing: 2rem;
$small-spacing: 0.5rem;
