$medium-width: 720px;
$large-width: 993px;
$desktop-width: 1200px;

$mobile-width: $medium-width; // Use with a max-width



$color-blank: #eee;
$color-gray: #cdcdcd;
$color-black: #626262;

$color-light: #eeb45a;
$color-medium: #ee8329;
$color-dark: #833118;

$color-action: #207394;



$spacing-small: 0.5rem;
$spacing-base: 1rem;
$spacing-large: 2rem;
