/**
 * Buttons
 *
 * Buttons do lots of fun things! You click them! They take you places! Who doesn't love buttons?
 *
 * People who hate puppies, that's who!
 *
 * @section
 */

/**
 * Main Buttons
 *
 * The Button `.btn` class can be applied to `<button>`, `<input>`, or `<a>` elements.
 *
 *
 * #### Acceptable Use
 *
 * Can be used for X, Y, and Z. Maybe Q if you're desperate.
 *
 * #### Avoid
 *
 * Should never be used for A, B, and C. Only for J if you have a death wish.
 *
 * @section
 * @sectionof Buttons
 *
 * @button Button
 * @input Input
 * @anchor Anchor
 *
 * @handlebarsExample handlebars.hbs
 */
.btn {
  background-color: #ddd;
  border-radius: 4px;
  border: 2px solid transparent;
  color: black;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 5px 15px;
  text-decoration: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
}

/**
 * Primary Buttons
 *
 *
 * @section
 * @sectionof Buttons
 *
 * @example
 * <button class="btn primary">Button</button>
 * <input type="submit" class="btn primary" value="Input"/>
 * <a href="javascript:void(0)" class="btn primary">Anchor</a>
 */
.btn.primary {
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
  color: #fff;
}
.btn.primary:hover {
  background-color: #569e3d;
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
}

.btn.smaller {
  font-size: 10px;
  padding: 4px 10px;
}


/**
 * Typography
 *
 * All the text things that people read with eyes.
 *
 * @section
 *
 * @page Type
 */


/**
 * Headers
 *
 * The Button `.btn` class can be applied to `<button>`, `<input>`, or `<a>` elements.
 *
 *
 * At the top of pages and articles.
 *
 * @section
 * @sectionof Typography
 *
 * @page Type
 *
 * @example
 * <h1>Heading 1</h1>
 * <h2>Heading 2</h2>
 * <h3>Heading 3</h3>
 * <h4>Heading 4</h4>
 * <h5>Heading 5</h5>
 * <h6>Heading 6</h6>
 *
 */
h1, h2, h3, h4 {
  font-family: "Skolar Bold", "Segoe UI Bold", "Roboto Slab", "Droid Serif",
  AvenirNext-Bold, "Avenir Bold", Georgia,
  "Times New Roman", Times, serif;
  margin: 0;
}

h1 {
  font-size: 2.25rem;  
  line-height: 3.25rem;
}

h2 {
  font-size: 1.875rem; 
  line-height: 3.25rem;
}

h3 {
  font-size: 1.625rem; 
  line-height: 3.25rem;
}

h4 {
  font-size: 1.375rem; 
}

h5 {
  font-size: 1.125rem; 
}

h4, h5, h6 {
  line-height: 1.625rem;
  margin: 0;
}


/**
 * Paragraphs
 *
 *
 * At the top of pages and articles.
 *
 * @section
 * @sectionof Typography
 *
 * @page Type
 *
 * @example
 * <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis porro iure repellat dicta hic, libero eaque! Earum incidunt vitae id at, harum, fugit officiis, animi, asperiores molestias voluptatem aperiam eius.</p>
 *
 */

p {
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 0 0 1.625rem 0;
}



a,
a:visited {
  color: #1976d2;
  text-decoration: none;
}

a:hover,
a:active,
a:hover {
  color: #1976d2;
  text-decoration: underline;
}
